/* --------------------------------------------
 * 
 *  Fun with CAD CSS classes
 *  Dustin Chilson
 *  12/27/2010
 *
 *  These are the classes used by fun with CAD. 
 *  Creates styles on top of Blueprint.css
 *
 * ---------------------------------------------*/


/*  ---  Menu  --- */
.menu {
    display: block;
    background-color: #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin-Right: -10px;
}
.menu p {
    margin: 0px;
    padding-left: 5px;
    text-decoration: none;
    list-style: none;
}
.menu a {
    border-bottom; 1px solid;
    display: block;
    margin: 0px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    border-bottom: 1px, solid;
}
.menu h4 {
    padding-top: 5px;
    margin-bottom: 0px;
}
/*  ---  End Menu  --- */


/*  ---  Content  --- */
.content tbody tr:nth-child(even) td, .content tbody tr.even td {
    background:#FFF;
}

.content {
    background-color: #fff;
    display: block;
}

.container {
    background-color: #FFF;
    display: block;
}
/*  ---  End Content  --- */


/*  ---  Profile  --- */
.profile {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 1px solid;
    width: 190px;
    float:right;
}

.profile .pic {
    padding-right: 5px;
    padding-bottom: 10px;
}

.profile .data {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: larger;
}

.data .prompt{
    font-weight: bold;
}

.data .var {
    padding-left: 5px;
}

.do {
    display:inline;
}

.feed {
    display: inline-block;
    width: 380px;
}

.feed .feed_title {
    font-size: large;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
/*  ---  End Profile  --- */


/*  ---  Misc  --- */

.footer {
    display:inline;
}

.copyright {
    display:block;
    text-align:center;
}

.flash {
    text-align:center;
}

.cakepower {
    display:block;
    float:bottom;
    padding-bottom: 5px;
    text-align:center;
}

.breadCrumbs {
    margin-left: 13px;
    margin-bottom: 10px;
    font-size: 10px;
    text-align:left;
}
.required {
	font-weight: bold;
}
.error-message {
	color: red;
}
.form-error {
	color: red;
}

/*  ---  End Misc  --- */
.topClasses {
    display:inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 17px;
}
.topClass {
    display:inline-block;
    float:left;
    margin-left: 13px;
    margin-right: 13px;
    border: 1px solid;
    width: 100px; 
}

.className {
    height:30px;
    padding: 2px;
    text-align: left;
    font-size: 10px;
}
.classDesc {
    display: inline;
}

.subClasses {
    display:block;
}
.subClass {
    display:inline-block;
    margin-right: 13px;
    margin-left: 13px;
    margin-bottom: 13px;
    border: 1px solid;
    width: 100px; 

}

.parts {
    display: block;
}

.partDesc {
    display: inline;
    float: left;
    margin-right: 1px;
    height: 480px;
    width: 200px;
}
.partPic {
    display: block;
    border; 1px solid;
}
.partInfo {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
.partInfoBlock {
    display: inline;
    margin-bottom: 20px;
}
.partInfoBlock1{

}
.partInfoBlock2 {
    margin-bottom: 7px;
}
.preview {
}
